* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.logo{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 40px;
}

.head{
    letter-spacing: 1px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    margin-left: 32px;
    margin-top: 28px;
}

span{
    color: orange;
}

nav ul li{
   list-style-type: none;
   display: inline-block;
   width: 148px;
}
nav ul li a {
    color: rgb(78, 77, 77);
    border: 1px solid #fff;
    border-radius: 30px;
    padding:10px 12px;
    background-color: rgba(0, 0, 0, .1);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    
}
nav ul li a:hover{
    color: orange;
    transition: 0.3s;
}

.btn{
background-color: orange;
text-decoration: none;
color: #fff;
border: 2px solid transparent;
font-weight: bold;
padding: 10px 25px;
border-radius: 30px;
transition: transform 0.4s;
}

.btn:hover{
    transform: scale(1.2);
}
.content {
margin-top: 250px;
margin-left: 32px;
}

h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 40px;
}

h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;  
}

h4{
    color: orange;
    letter-spacing: 2px;
    font-size: 18px;
}
.about{
    width: 100%;
    padding: 100px 0px;
   background-color: #f1f1f1;

}
.about img{
    width: 430px;
    height: auto;
    
}

.text-about{
    width: 550px;
    margin-left: 24px;
}
.cont {
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.text-about h2{
    color: #000;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.text-about h5{
    color: #000;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text-about p{
    letter-spacing: 1px;
    color: black;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    
}

 .email {
    background-color: orange;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 13px 30px;
    transition: transform 0.4s;
    border: 2px solid transparent;
    display: block;
    width: 150px;
}
.serviece{
width: 100%;
height: 290px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.serviece p{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
.serviece .btn1{
    background-color: orange;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 13px 30px;
    transition: 0.4s;
    border: 2px solid transparent;
}
.contact-me {
    position: relative;
    width: 100%;
    height: 400px;
    font-size: 20px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links{
    margin-top: 32px;
}
.links a{
    display: inline-block;
    color: #000;
    margin-right: 10px;
    transition: 0.3s;
    }
    
 .links a:hover{
        transform: translateY(10px);
        color: orange;
    }
      header a {
        text-decoration: none;
      }
      
      header {
        padding: 0 20px;
        height: 50px;
        display: flex;
        justify-content: space-between;
      }
      
      ul {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      
      ul a {
        color: orange;
      }
      
      ul li {
        padding: 5px;
        margin-left: 10px;
      }
      
      ul li:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
      
      #icons {
        margin: auto 0;
        display: none;
        cursor: pointer;
      }
      
      #icons div {
        width: 35px;
        height: 3px;
        background-color: gray;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
      }
      
      .open .bar2 {
        opacity: 0;
      }
      
      .open .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
      }
      
      .open .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, .9);
        padding-top: 64px;
        
      }
      
      .mobile-menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        height: calc(100vh - 50px);
        width: 100%;
      }
      
      .mobile-menu li {
        margin-bottom: 32px;
      }

      @media only screen and (max-width: 1024px) {
        .about{
            width: 100%;
            padding: 0px;
           background-color: #f1f1f1;
        }
        
        .text-about {
            margin-bottom: 24px;
            padding: 24px;
        }
        .text-about h2 {
            font-size: 32px;
        }

        .text-about p {
            font-size: 18px;
            margin-bottom: 24px;
        }
        .cont {
            padding: 24px;
            flex-direction: column-reverse;
        }
      }
      
      @media only screen and (max-width: 600px) {
        header nav {
          display: none;
        }
      
        #icons {
          display: block;
        }

        .head {
            margin-top: 12px;
            font-size: 24px;
        }
      }